In [23]:
import pandas as pd
import pandas_profiling
import seaborn as sns
import tensorflow as tf
from tensorflow import keras
from tensorflow.keras import layers
print (tf.__version__)

2.10.0

In [8]:
ds=sns.load_dataset('mpg')
ds.shape

(398, 9)

In [10]:
ds.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinders     398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    392 non-null    float64
 4   weight        398 non-null    int64
 5   acceleration  398 non-null    float64
 6   model_year    398 non-null    int64
 7   origin        398 non-null    object
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB

In [12]:
ds.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year
count,398.000000,398.000000,398.000000,392.000000,398.000000,398.000000,398.000000
mean,23.514573,5.454774,193.425879,104.469388,2970.424623,15.568090,76.010050
std,7.815984,1.701004,104.269838,38.491160,846.841774,2.757689,3.697627
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000
25%,17.500000,4.000000,104.250000,75.000000,2223.750000,13.825000,73.000000
50%,23.000000,4.000000,148.500000,93.500000,2803.500000,15.500000,76.000000
75%,29.000000,8.000000,262.000000,126.000000,3608.000000,17.175000,79.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000

In [14]:
ds.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [15]:
ds.isna().sum()

mpg             0
cylinders       0
displacement    0
horsepower      6
weight          0
acceleration    0
model_year      0
origin          0
name            0
dtype: int64

In [17]:
dsds=ds.dropna()

In [18]:
dsds.pop('name')

0      chevrolet chevelle malibu
1              buick skylark 320
2             plymouth satellite
3                  amc rebel sst
4                    ford torino
                 ...
393              ford mustang gl
394                    vw pickup
395                dodge rampage
396                  ford ranger
397                   chevy s-10
Name: name, Length: 392, dtype: object

In [19]:
dsds.head()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,origin
0,18.0,8,307.0,130.0,3504,12.0,70,usa
1,15.0,8,350.0,165.0,3693,11.5,70,usa
2,18.0,8,318.0,150.0,3436,11.0,70,usa
3,16.0,8,304.0,150.0,3433,12.0,70,usa
4,17.0,8,302.0,140.0,3449,10.5,70,usa

In [35]:
# pr=ds.profile_report()
# pr.to_file('./dataframes/pr_report.html')
ds.profile_report()

Summarize dataset:   0%|          | 0/5 [00:00<?, ?it/s]

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/formatters.py", line 222, in catch_format_error
    r = method(self, *args, **kwargs)
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/formatters.py", line 343, in __call__
    return method()
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/profile_report.py", line 438, in _repr_html_
    self.to_notebook_iframe()
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/profile_report.py", line 418, in to_notebook_iframe
    display(get_notebook_iframe(self.config, self))
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/report/presentation/flavours/widget/notebook.py", line 75, in get_notebook_iframe
    output = get_notebook_iframe_srcdoc(config, profile)
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/report/presentation/flavours/widget/notebook.py", line 29, in get_notebook_iframe_srcdoc
    src = html.escape(profile.to_html())
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/profile_report.py", line 388, in to_html
    return self.html
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/profile_report.py", line 205, in html
    self._html = self._render_html()
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/profile_report.py", line 307, in _render_html
    report = self.report
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/profile_report.py", line 199, in report
    self._report = get_report_structure(self.config, self.description_set)
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/profile_report.py", line 181, in description_set
    self._description_set = describe_df(
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/model/describe.py", line 115, in describe
    scatter_matrix[x][y] = progress(
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/utils/progress_bar.py", line 11, in inner
    ret = fn(*args, **kwargs)
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/model/pairwise.py", line 31, in get_scatter_plot
    return scatter_pairwise(config, df_temp[x], df_temp[y], x, y)
  File "/usr/lib/python3.10/contextlib.py", line 79, in inner
    return func(*args, **kwds)
  File "/home/lss/.local/lib/python3.10/site-packages/pandas_profiling/visualisation/plot.py", line 290, in scatter_pairwise
    plt.xlabel(x_label)
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 3007, in xlabel
    def vlines(
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 2225, in gca
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 830, in gcf
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/_api/deprecation.py", line 454, in wrapper
    warn_deprecated(
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 771, in figure
    if num.canvas.manager is None:
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 346, in new_figure_manager
    Parameters
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 336, in _warn_if_gui_out_of_main_thread
    the interactive mode takes care of this.
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 206, in _get_backend_mod
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 264, in switch_backend
    continue
  File "/usr/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1006, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 688, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 883, in exec_module
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib_inline/__init__.py", line 1, in <module>
    from . import backend_inline, config  # noqa
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib_inline/backend_inline.py", line 8, in <module>
    from matplotlib.backends import backend_agg
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/backends/backend_agg.py", line 37, in <module>
    from matplotlib.backend_bases import (
ImportError: cannot import name '_check_savefig_extra_args' from 'matplotlib.backend_bases' (/home/lss/.local/lib/python3.10/site-packages/matplotlib/backend_bases.py)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/home/lss/.local/lib/python3.10/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0

In [37]:
origin=ds.pop('origin')

In [39]:
ds.usa=(origin=='usa')*1.0
ds.europe=(origin=='europe')*1.0
ds.japan=(origin=='japan')*1.0
ds.tail()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model_year,name
393,27.0,4,140.0,86.0,2790,15.6,82,ford mustang gl
394,44.0,4,97.0,52.0,2130,24.6,82,vw pickup
395,32.0,4,135.0,84.0,2295,11.6,82,dodge rampage
396,28.0,4,120.0,79.0,2625,18.6,82,ford ranger
397,31.0,4,119.0,82.0,2720,19.4,82,chevy s-10

In [40]:
trds=ds.sample(frac=0.8,random_state=42)
teds=ds.drop(trds.index)

In [44]:
sns.pairplot(trds[["mpg","cylinders", "displacement","weight"]])

Unexpected exception formatting exception. Falling back to standard exception

Traceback (most recent call last):
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 3378, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "/tmp/ipykernel_52659/1760838653.py", line 1, in <module>
    sns.pairplot(trds[["mpg","cylinders", "displacement","weight"]])
  File "/home/lss/.local/lib/python3.10/site-packages/seaborn/axisgrid.py", line 2114, in pairplot
    grid = PairGrid(data, vars=vars, x_vars=x_vars, y_vars=y_vars, hue=hue,
  File "/home/lss/.local/lib/python3.10/site-packages/seaborn/axisgrid.py", line 1274, in __init__
    fig = plt.figure(figsize=figsize)
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/_api/deprecation.py", line 454, in wrapper
    warn_deprecated(
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 771, in figure
    if num.canvas.manager is None:
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 346, in new_figure_manager
    Parameters
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 336, in _warn_if_gui_out_of_main_thread
    the interactive mode takes care of this.
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 206, in _get_backend_mod
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/pyplot.py", line 264, in switch_backend
    continue
  File "/usr/lib/python3.10/importlib/__init__.py", line 126, in import_module
    return _bootstrap._gcd_import(name[level:], package, level)
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 992, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "<frozen importlib._bootstrap>", line 1050, in _gcd_import
  File "<frozen importlib._bootstrap>", line 1027, in _find_and_load
  File "<frozen importlib._bootstrap>", line 1006, in _find_and_load_unlocked
  File "<frozen importlib._bootstrap>", line 688, in _load_unlocked
  File "<frozen importlib._bootstrap_external>", line 883, in exec_module
  File "<frozen importlib._bootstrap>", line 241, in _call_with_frames_removed
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib_inline/__init__.py", line 1, in <module>
    from . import backend_inline, config  # noqa
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib_inline/backend_inline.py", line 8, in <module>
    from matplotlib.backends import backend_agg
  File "/home/lss/.local/lib/python3.10/site-packages/matplotlib/backends/backend_agg.py", line 37, in <module>
    from matplotlib.backend_bases import (
ImportError: cannot import name '_check_savefig_extra_args' from 'matplotlib.backend_bases' (/home/lss/.local/lib/python3.10/site-packages/matplotlib/backend_bases.py)

During handling of the above exception, another exception occurred:

Traceback (most recent call last):
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/interactiveshell.py", line 1997, in showtraceback
    stb = self.InteractiveTB.structured_traceback(
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1112, in structured_traceback
    return FormattedTB.structured_traceback(
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 1006, in structured_traceback
    return VerboseTB.structured_traceback(
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 859, in structured_traceback
    formatted_exception = self.format_exception_as_a_whole(etype, evalue, etb, number_of_lines_of_context,
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 812, in format_exception_as_a_whole
    frames.append(self.format_record(r))
  File "/home/lss/.local/lib/python3.10/site-packages/IPython/core/ultratb.py", line 730, in format_record
    result += ''.join(_format_traceback_lines(frame_info.lines, Colors, self.has_colors, lvals))
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/core.py", line 734, in lines
    pieces = self.included_pieces
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/core.py", line 681, in included_pieces
    pos = scope_pieces.index(self.executing_piece)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/utils.py", line 145, in cached_property_wrapper
    value = obj.__dict__[self.func.__name__] = self.func(obj)
  File "/home/lss/.local/lib/python3.10/site-packages/stack_data/core.py", line 660, in executing_piece
    return only(
  File "/home/lss/.local/lib/python3.10/site-packages/executing/executing.py", line 164, in only
    raise NotOneValueFound('Expected one value, found 0')
executing.executing.NotOneValueFound: Expected one value, found 0