In [1]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline
import numpy as np
print(pd.__version__)
print(sns.__version__)
print(np.__version__)

1.4.4
0.12.0
1.23.3

In [2]:
trdf=pd.read_csv('dataframes/train.csv')
tedf=pd.read_csv('dataframes/test.csv')
print(trdf.shape, tedf.shape)

(891, 12) (418, 11)

In [ ]:
# trdf.head(5)
trdf.sample(5)

In [6]:
trdf.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 12 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   PassengerId  891 non-null    int64
 1   Survived     891 non-null    int64
 2   Pclass       891 non-null    int64
 3   Name         891 non-null    object
 4   Sex          891 non-null    object
 5   Age          714 non-null    float64
 6   SibSp        891 non-null    int64
 7   Parch        891 non-null    int64
 8   Ticket       891 non-null    object
 9   Fare         891 non-null    float64
 10  Cabin        204 non-null    object
 11  Embarked     889 non-null    object
dtypes: float64(2), int64(5), object(5)
memory usage: 83.7+ KB

# 칼럼 (Features, 특징)

attribute|Info|Type|DType
---|---|---|---
 Passenger| 승객번호 | |int
 Survived |생존여부 0=No, 1=Yes| 명목형|int
 Pclass |티켓 클래스 1=1st, 2=2nd, 3=3rd|순서형|int
 Name|이름| 불확실한 데이터|object
 Sex |성별|명목형|object
 Age |나이|연속형|float
 SibSp| 형제, 자매, 배우자가 배에 탄수|이산형|int
 Parch| 부모, 자식이 배에 탄수|이산형|int
 Ticket| 티켓 번호|혼합형|object
 Fare| 지불 금액|연속형|float
 Cabin| 객실 번호 |혼합형|object
 Embarked| 승선항 C=Cherbourg, Q= Queenstown, S=Southampton| 명목형|object

In [ ]:
trdf.columns

In [ ]:
trdf.describe()

In [ ]:
trdf.Survived[:10]

In [5]:
# trdf.describe(include='float64')
# trdf.describe(include='int64')
trdf.describe(include='object')

                           Name   Sex  Ticket    Cabin Embarked
count                       891   891     891      204      889
unique                      891     2     681      147        3
top     Braund, Mr. Owen Harris  male  347082  B96 B98        S
freq                          1   577       7        4      644

In [4]:
trdf[['Pclass', 'Survived']].groupby(['Pclass']).mean()

        Survived
Pclass
1       0.629630
2       0.472826
3       0.242363

In [ ]:
trdf[['Pclass', 'Survived']].groupby(['Pclass']).count()

In [ ]:
trdf[['Pclass', 'Survived']].groupby(['Pclass']).sum()

In [3]:
trdf[['SibSp','Survived']].groupby(['SibSp']).mean().sort_values(by='SibSp', ascending=False)

       Survived
SibSp
8      0.000000
5      0.000000
4      0.166667
3      0.250000
2      0.464286
1      0.535885
0      0.345395

In [ ]:
trdf[['Parch','Survived']].groupby(['Parch']).mean().sort_values(by='Parch')

In [ ]:
trdf[['Sex','Survived']].groupby(['Sex']).mean().sort_values(by='Survived', ascending=False)

In [ ]:
g=sns.FacetGrid(trdf,col='Survived')
g.map(plt.hist, 'Age', bins=20)

In [ ]:
sns.FacetGrid(trdf,col='Survived').map(plt.hist, 'Age',bins=20)

In [ ]:
sns.FacetGrid(trdf, col='Survived', row='Pclass').map(plt.hist,'Age',bins=20)

In [ ]:
g=sns.FacetGrid(trdf, row='Embarked')
g.map(sns.pointplot,'Pclass','Survived','Sex')
g.add_legend()

In [ ]:
g=sns.FacetGrid(trdf, col='Embarked')
g.map(sns.pointplot,'Pclass','Survived','Sex')
g.add_legend()

In [ ]:
sns.FacetGrid(trdf, col='Embarked', row='Survived').map(sns.barplot, 'Sex','Fare')

In [ ]:
trdf.sample(5)

In [ ]:
print('Before', trdf.shape,tedf.shape)
trdf=trdf.drop(['Ticket','Cabin'],axis=1)
tedf=tedf.drop(['Ticket','Cabin'],axis=1)
combine=[trdf,tedf]
print('After',trdf.shape, tedf.shape)

In [ ]:
for dataset in combine:
    dataset['Title']=dataset.Name.str.extract(' ([A-Za-z]+)\.',expand=False)

pd.crosstab(trdf['Title'],trdf['Sex'])

In [ ]:
for dataset in combine:
    dataset['Title']=dataset['Title'].replace(['Lady','Countess','Capt','Col','Don','Dr','Major','Rev','Sir','Jonkheer','Dona'], 'Rare')
    dataset['Title']=dataset['Title'].replace('Mlle','Miss')
    dataset['Title']=dataset['Title'].replace('Ms','Miss')
    dataset['Title']=dataset['Title'].replace('Mme','Mrs')

trdf[['Title','Survived']].groupby(['Title'],as_index=False).mean()

In [ ]:
title_mapping={'Mr':1,'Miss':2,'Master':4,'Rare':5}
for dataset in combine:
    dataset['Title']=dataset['Title'].map(title_mapping)
    dataset['Title']=dataset['Title'].fillna(0)

trdf.sample(5)

In [ ]:
trdf=trdf.drop(['Name','PassengerId'],axis=1)
tedf=tedf.drop(['Name'],axis=1)
combine=[trdf,tedf]
trdf.shape, tedf.shape

In [ ]:
for dataset in combine:
    dataset['Sex']=dataset['Sex'].map({'female':1,'male':0}).astype(int)
trdf.sample(5)

In [ ]:
trdf.info()

In [ ]:
for dataset in combine:
    print(dataset.isna().sum())

In [ ]:
g=sns.FacetGrid(tr_df,row='Sex',col='Pclass')
g.map(plt.hist,'Age')

In [ ]:
guess_ages=np.zeros((2,3))
guess_ages

In [ ]:
trdf.info()

In [ ]:
for dataset in combine:
    for i in range(0,2):
        for j in range(0,3):
            guess_df=dataset[(dataset['Sex']==i) & (dataset['Pclass']==j+1)]['Age'].dropna()
            age_guess=guess_df.mean()
            guess_ages[i,j]=age_guess
    for i in range(0,2):
        for j in range(0,3):
            dataset.loc[(dataset.Age.isnull())&(dataset.Sex==i)&(dataset.Pclass==j+1),'Age']=guess_ages[i,j]
    dataset["Age"]=dataset["Age"].astype(int)

In [ ]:
tr_df.isna().sum()