In [1]:
import pandas as pd
import seaborn as sns
import matplotlib as plt
import numpy as np
%matplotlib inline

print(pd.__version__)
print(sns.__version__)
print(plt.__version__)
print(np.__version__)

1.4.4
0.12.0
3.5.3
1.23.3

In [2]:
train_df=pd.read_csv("./dataframes/train.csv")
test_df=pd.read_csv("./dataframes/test.csv")
print(train_df.shape,test_df.shape)

(891, 12) (418, 11)

# 칼럼 (Features, 특징)

attribute|Info|Type|DType
---|---|---|---
 Passenger| 승객번호 | |int
 Survived |생존여부 0=No, 1=Yes| 명목형|int
 Pclass |티켓 클래스 1=1st, 2=2nd, 3=3rd|순서형|int
 Name|이름| 불확실한 데이터|object
 Sex |성별|명목형|object
 Age |나이|연속형|float
 SibSp| 형제, 자매, 배우자가 배에 탄수|이산형|int
 Parch| 부모, 자식이 배에 탄수|이산형|int
 Ticket| 티켓 번호|혼합형|object
 Fare| 지불 금액|연속형|float
 Cabin| 객실 번호 |혼합형|object
 Embarked| 승선항 C=Cherbourg, Q= Queenstown, S=Southampton| 명목형|object

In [ ]:
# train_df.rename(columns={'PassengerId':'승객번호','Survived' : '생존여부', 'Pclass' : '좌석등급', 'Name':'이름', 'Sex':'성별','Age':'나이', 'SibSp' : '혈족', 'Parch':'직계','Ticket':'승선권', 'Fare':'요금', 'Cabin':'객실번호','Embarked':'승선항'}, inplace=True)

In [ ]:
# 상단 5개 출력
# train_df.head()

# 샘플 무작위 10개
# train_df.sample(10)

# 칼럼 제목만 출력
# train_df.columns

train_df.info()

# 분포 중심 경향 확인
# train_df.describe()

- 실제 탑승자(2,224명)의 40%인 891명
- 생존률 38%
- 가장 비싼 승선 요금은 512.

In [ ]:
train_df.dtypes

In [ ]:
train_df.select_dtypes(include='float64')

In [ ]:
train_df.select_dtypes(include='int64')

In [ ]:
train_df.values

In [ ]:
train_df.axes

In [ ]:
train_df.ndim

In [ ]:
train_df.size

In [ ]:
train_df.shape

In [ ]:
train_df.empty

In [ ]:
train_df.Embarked.unique()

In [ ]:
train_df.Pclass.unique()

In [ ]:
train_df.Pclass.value_counts()

In [ ]:
train_df.Age.cummax

In [ ]:
train_df.Fare.cummax()

In [ ]:
train_df.diff

In [ ]:
train_df.max()

In [ ]:
train_df.std(skipna=True)

In [ ]:
train_df.std(skipna=False)

In [ ]:
train_df.asfreq

In [ ]:
train_df[['Pclass','Survived']].groupby(['Survived']).mean()

In [4]:
print("Before", train_df.shape, test_df.shape)

# pop, drop->axis
train_df=train_df.drop(["Ticket","PassengerId"],axis=1)
test_df=test_df.drop(["Ticket","PassengerId"],axis=1)

combine=[train_df,test_df]

print("After",train_df.shape, test_df.shape)

Before (891, 12) (418, 11)
After (891, 10) (418, 9)

In [7]:
for dataset in combine:
    dataset['Title']=dataset.Name.str.extract('([A-Za-z]+)\.', expand=False)
    dataset['Deep'] = dataset.Cabin.str.extract('([A-Za-z])',expand=False)

In [ ]:
train_df[['Age','Title']].groupby(['Title']).mean()

In [41]:
for dataset in combine:
    dataset['Title'] = dataset['Title'].replace(['Capt','Col','Don','Dr','Jonkheer','Major','Rev','Sir'],'Mr')
    dataset['Title'] = dataset['Title'].replace(['Countess','Lady'],'Mrs')
    dataset['Title'] = dataset['Title'].replace(['Ms','Mlle','Mme'],'Miss')

In [43]:
pd.crosstab(train_df['Title'], train_df['Sex'])

Empty DataFrame
Columns: []
Index: []

In [ ]:
train_df[['Age','Title']].groupby(['Title']).mean()

In [34]:
for dataset in combine:
    dataset.loc[(dataset.Age.isnull())&(dataset.equals('Mr')),'Age']=33
    dataset.loc[(dataset.Age.isnull())&(dataset.equals('Mrs')),'Age']=35
    dataset.loc[(dataset.Age.isnull())&(dataset.equals('Miss')),'Age']=21
    dataset.loc[(dataset.Age.isnull())&(dataset.equals('Master')),'Age']=4

In [40]:
for dataset in combine:
    dataset["Title"]=dataset["Title"].map({"Master":1,"Miss":2,"Mr":3,"Mrs":4})
train_df.Title

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
886   NaN
887   NaN
888   NaN
889   NaN
890   NaN
Name: Title, Length: 891, dtype: float64

In [10]:
train_df=train_df.drop(['Name','Cabin'],axis=1)
test_df=test_df.drop(['Name','Cabin'],axis=1)
combine=[train_df,test_df]
train_df.shape,test_df.shape

((891, 10), (418, 9))

In [11]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
 8   Title     891 non-null    object
 9   Deep      204 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [ ]:
pd.crosstab(train_df['Deep'], train_df['Pclass'])

In [ ]:
train_df[['Deep','Fare']].groupby(['Deep']).describe()

In [ ]:
train_df[['Deep','Survived']].groupby(['Deep']).describe()

In [ ]:
train_df[['Sex','Survived']].groupby(['Sex']).describe()

In [ ]:
train_df[['Embarked','Survived']].groupby(['Embarked']).describe()

In [ ]:
train_df.sample(5)

In [32]:
for dataset in combine:
    dataset['Sex'] = dataset['Sex'].map({'male':1,'female':2}).astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [33]:
for dataset in combine:
    dataset['Embarked'] = dataset['Embarked'].map({'C':1,'Q':2,'S':3}).astype(int)
    dataset['Deep'] = dataset['Deep'] .map({ 'A':1, 'B':2, 'C':3, 'D':4, 'E':5, 'F':6, 'G':7, 'T':8 }).astype(int)

IntCastingNaNError: Cannot convert non-finite values (NA or inf) to integer

In [15]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 891 entries, 0 to 890
Data columns (total 10 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Survived  891 non-null    int64
 1   Pclass    891 non-null    int64
 2   Sex       891 non-null    int64
 3   Age       714 non-null    float64
 4   SibSp     891 non-null    int64
 5   Parch     891 non-null    int64
 6   Fare      891 non-null    float64
 7   Embarked  889 non-null    object
 8   Title     891 non-null    object
 9   Deep      204 non-null    object
dtypes: float64(2), int64(5), object(3)
memory usage: 69.7+ KB

In [16]:
train_df.isna().sum()

Survived      0
Pclass        0
Sex           0
Age         177
SibSp         0
Parch         0
Fare          0
Embarked      2
Title         0
Deep        687
dtype: int64

In [ ]:
test_df.isna().sum()

In [ ]:
test_df[test_df['Fare'].isnull()]

In [ ]:
train_df[['Fare','Pclass']].groupby(['Pclass']).describe()

In [ ]:
train_df[['Pclass','Survived']].groupby(['Pclass']).mean()
# train_df[train_df['Pclass']==3]

In [ ]:
test_df['Fare']=test_df['Fare'].fillna(8.0500)

In [ ]:
test_df[test_df['Age'].isnull()]

In [ ]:
train_df[train_df['Age'].isnull()]

In [ ]:
train_df['Embarked']=train_df['Embarked'].fillna(1)

In [ ]:
for dataset in combine:
    print(dataset.isna().sum())